body {
	background-image: url(../images/hypnotize.png);
}

@font-face {
	font-family: Danger Dots;
	src: url("../fonts/Danger on the Motorway.woff") format("woff"), url("../fonts/Danger on the Motorway.otf") format("opentype");
}

@font-face {
	font-family: spectrashell;
	src: url("../fonts/spectrashell.ttf") format("truetype");
}

.rules, .numbers, .randomNumber, .scoreBoard, .scoreTitle, .scoreTile {
	font-family: spectrashell;
}

h1 {
	font-family: Danger Dots;
	color: #2ba296;
	text-align: center;
	font-size: 70px;
}

.rules {
	color: #5bc880;
	padding: 10px;
	font-size: 16px;
}

.numbers {
	display: flex;
	margin: 5px 0;
}

.randomNumber {
	background-color: #5bc880;
	font-size: 50px;
	text-align: center;
	padding: 30px;
	margin: 0 10px;
}

.scoreBoard {
	background-color: #5bc880;
	font-size: 30px;
	padding: 30px;
	line-height: 40px;
}

img {
	height: 80px;
	width: 80px;
}

.scoreTitle, .scoreTile {
	background-color: #2ba296;
	color: white;
	font-size: 20px;
}

.scoreTile {
	text-align: center;
	font-size: 40px
}